# Dependencies
node_modules
.pnp
.pnp.js

# Production
build
dist
out
.next

# Misc
.DS_Store
*.pem
*.log

# Vite
.vite

# Vitest
coverage

# Environment files
.env
.env.local
.env.*.local

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock
